<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do laundry</string>
	<string>Make a new Github account</string>
	<string>Check AT&amp;T payments</string>
	<string>Apply to more tech companies</string>
	<string>Make plans for next weekend</string>
</array>
</plist>
